Jinja2==2.8
nltk==3.1
numpy==1.14.0
panda==0.3.1
pandas==0.20.2
requests==2.11.1
requests-toolbelt==0.7.0
scikit-learn==0.18.2
scipy==0.19.1
six==1.10.0
sklearn==0.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
