@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Noto+Sans+SC|Oxygen');


body{
 background-repeat: no-repeat;background-position: center;background-size: cover;height: 100%;
 font-family: 'Josefin Sans', sans-serif;
 display: inline-flex;
 float: left;
}
.products{
    font-size: 50px;
    color:#ff9100;
}
.each-product{
    font-size: 15px;
    height: 50px;
    width: 600px;
    border-color: #ff9100;
    border-width: 1px;
    cursor: pointer;
  	background-color: white;
  	border-radius: 5px;
}
#side-img{
  width: 800px;
  height: 160px;
  float: left;
  margin-left: 20px;

  margin-top: 10px;
  border-radius: 11px;
}

#belowImg{
   margin-left:40px;
  font-size: 20px;
  width: 800px;
  height: 753px;
  float: left;
  margin-top: 10px;
  border-style: solid;
  border-color: #ff9100;
  border-radius: 11px;

}

#product{
  border-radius: 11px;
  width: 750px;
  color:#ff9100;
  height: 753px;
  border-style: solid;
  border-color: #ff9100;
  margin-left: 580px;
  margin-top: 10px;
  font-size: 15px;
}

#sub1c{
  height: 40px;
  width: 200px;
  border-color: #ff9100;
  border-radius: 10px;
  background-color: White;
  border-style: solid;
  color: #ff9100;
  font-size: 20px;
  border-radius: 11px;
  margin-left: 20px;
  padding-top: 20px;
  text-decoration: none;
  margin-top: 30px;
}

#sub1a{
  height: 40px;
  width: 200px;
  border-color: #ff9100;
  border-radius: 10px;
  background-color: White;
  border-style: solid;
  color: #ff9100;
  font-size: 20px;
  border-radius: 11px;
  margin-left: 8px;
  padding-top: 20px;
  text-decoration: none;
  margin-top: 30px;
}

#sub1b{
  height: 40px;
  width: 200px;
  border-color: #ff9100;
  border-radius: 10px;
  background-color: White;
  border-style: solid;
  color: #ff9100;
  font-size: 20px;
  border-radius: 11px;
  margin-left: 15px;
  padding-top: 20px;
  text-decoration: none;
  margin-top: 30px;
}

#buttons{
  display: inline-flex;
  text-decoration: none;
  margin-top:50px;
}

#sub2{
  height: 40px;
  width: 200px;
  border-color: #ff9100;
  background-color: White;
  border-style: solid;
  color: #ff9100;
  font-size: 20px;
  border-radius: 10px;
  margin: 50px 50px 150px 75px;

}


#prodName{
  font-size: 32px;
  color: #ff9100;
  text-align: left;
  padding-left: 10px;
}

#percentage{
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
}

#rev{
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
}

.but{
  height: 40px;
  width: 200px;
  border-color: #ff9100;
  border-radius: 10px;
  background-color: White;
  border-style: solid;
  color: #ff9100;
  font-size: 20px;
  border-radius: 11px;
  margin-bottom: 10px;
}


