 <!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Evaluate a Product</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/products.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    </head>
    <body style="text-align: center;">

      <div id="belowImg">
          <p id="prodName">Name of Product: Blackberry Q5</p>
          <p id="percentage">Percentage of Positive Reviews: {{positive}}</p>
          <p id="percentage">Percentage of Negative Reviews: {{negative}}</p>
          <p id="percentage">Classification report:</p>
          <!--p id="percentage">Precision:</p>
          <p id="percentage">Recall:</p>
          <p id="percentage">f1-score:</p-->
          <table>
              <th>

                  <td>Precision</td>
                  <td>Recall</td>
                  <td>F1-score</td>
              </th>
              <tr>
                  <td>Positive</td>
                  <td>0.84</td>
                  <td>0.74</td>
                  <td>0.79</td>
              </tr>
              <tr>
                  <td>&nbspNegative</td>
                  <td>0.94</td>
                  <td>0.96</td>
                  <td>0.94</td>
              </tr>
          </table>
          <p id="percentage" style="color:#ff9100;">Model Accuracy: 91.80</p>
          <p id="percentage">Positive reviews: 7980</p>
          <p id="percentage">Negative reviews: 2096</p>
          <!--p id="rev">Positive Review: Awesome,<br> Crazy,Badass,<br> a must buy.</p>
          <p id="rev">Negative Review: Piece of Shit,<br> felt Cheated.</p-->
          <div id="buttons">
            <a id="sub1a" href="C:\Users\hp\Desktop\flask-sentiment-analysis\templates\product_part2.html">Analyse More</a>
            <a id="sub1b" href="C:\Users\hp\Desktop\flask-sentiment-analysis\templates\product_part3.html">Analyse More</a>
            <a id="sub1c" href="C:\Users\hp\Desktop\flask-sentiment-analysis\templates\product_part4.html">Analyse More</a>
          </div>
      </div>
      <div id="product">
        <div class="products"><p>Select a product:<br></p>

          <select name="products" class="each-product" id="products" onchange="handleProductChange()">
              <option value="Samsung J7">Samsung J7</option>
              <option value="nokia">Nokia Asha 302 </option>
              <option value="BlackBerry">BlackBerry Bold 9650 </option>
              <option value="Apple IPhone 6">Apple Iphone 6</option>
              <option value="Apple IPhone 5">Apple Iphone 5</option>
              <option value="Samsung Duos II">Samsung S Duos II </option>
              <option value="Xiomi 4A">Xiomi 4A </option>
              <option value="Samsung S5">Samsung S5</option>
              <option value="One plus two">One plus Two</option>
              <option value="Samsung U340">Samsung U340</option-->
          </select>
          <button type="button" id="sub2" onclick="showGraph()">Analyse</button>


        </div>
        <div class="chart-container" style="position: absolute; height:10vh; width:20vw; padding-left:210px; margin-top:-90px; ">
        <canvas id="myChart" width="80" height="80"></canvas>
        <!--<div id="graph">-->
        <script>
            let id;
            let product;
            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Positive', 'Negative'],
                datasets: [{
                        label: '# of Votes',
                        data: [{{positive}},{{negative}}],
                        backgroundColor: [
                        'rgba(255,165,0, 0.8)',
                        'rgba(0, 0, 0, 0.8)'
                    ],
                    borderColor: [
                      'rgba(255,165,0, 1)',
                      'rgba(0, 0, 0, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });
        function handleProductChange(){

            product = document.getElementById("products").value;

            if(product === 'Samsung J7'){
                id = 1;
            }
            else if(product === 'nokia'){
                id = 2;
            }
            else if(product === 'BlackBerry'){
                id = 3;
            }
            else if(product === 'Apple IPhone 6'){
                id = 4;
            }
            else if(product === 'Apple IPhone 5'){
                id = 5;
            }
            else if(product === 'Samsung Duos II'){
                id = 6;
            }
            else if(product === 'Xiomi 4A'){
                id = 7;
            }
            else if(product === 'Samsung S5'){
                id = 8;
            }
            else if(product === 'One plus two'){
                id = 9;
            }
            else if(product === 'Samsung U340'){
                id = 10;
            }
        }
        function showGraph(){
            window.open('http://0.0.0.0:8000/review-evaluation/'+id)
        }
        </script>

        </div>
      </div>

    </body>
</html>
