<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/index.css"/>
    </head>
    <body>
        <div class="container">
            <div class="left">
                <img class="lefttop" src="../static/images/AmazonProducts.JPG"></img>
                <div class="leftbottom"><br><br>About the project:<br>
                    <p>We have built a supervised learning model to save your time from reading thousands<br>of reviews to understand a product by polarizing a review on particular category to<br>understand its popularity among the buyers all over the world.</p>
                </div>
            </div>
            <div class="right">
                <div class="righttop"><br><br>SENTIMENT ANALYSIS <br>ON LARGE SCALE <br>AMAZON PRODUCT REVIEWS</div>
                <div class="rightbottom">
                    <div class="rightb1"><br><br><br><br>Evaluate a<br><br><a id="pid" href="product">PRODUCT</a></div>
                    <div class="rightb2"><br><br><br><br>Evaluate a<br><br><a id="rid" href="review">REVIEW</a></div>
                </div>
            </div>
        </div>
    </body>
</html>