<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>product analysis</title>
    <link rel="stylesheet" type="text/css" href="../static/product_part4.css"/>

    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    </head>
    <style>
        .container {
            width: 120%;
            height: 120%;
            margin-left:-50px;
            margin-top: 30px;
        }
    </style>
  <body>
    <div id="hidDiv">
      <div id="gblock1">
        <button id  ="sub1">
            Analyse More!
        </button>
        <div class="container">
            <canvas id="myChart"></canvas>
        </div>

      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="./myChart3.js"></script>
</html>
